ai-agent-workflow-enhanced-with-google-drive.json
{
  "name": "AI Agent with Google Drive Integration",
  "custom_name": "chatbot_with_google_drive",
  "nodes": [
    {
      "parameters": {},
      "type": "@devlikeapro/n8n-nodes-waha.wahaTrigger",
      "typeVersion": 202502,
      "position": [0, 0],
      "id": "waha-trigger",
      "name": "WAHA Trigger",
      "webhookId": "{{webhook_id}}",
      "notesInFlow": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('WAHA Trigger').item.json.payload.body }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "{{system_message}}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [480, 48],
      "id": "ai-agent",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Start Typing",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [288, 48],
      "id": "start-typing",
      "name": "Start Typing",
      "credentials": {
        "wahaApi": {
          "id": "{{waha_credential_id}}",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Stop Typing",
        "session": "={{ $('WAHA Trigger').item.json.session }}",
        "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [768, 48],
      "id": "stop-typing",
      "name": "Stop Typing",
      "credentials": {
        "wahaApi": {
          "id": "{{waha_credential_id}}",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('WAHA Trigger').item.json.session }}",
        "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "requestOptions": {
          "batching": {
            "batch": {
              "batchSize": 1000
            }
          }
        }
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [960, 48],
      "id": "send-message",
      "name": "Send a text message",
      "alwaysOutputData": true,
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "wahaApi": {
          "id": "{{waha_credential_id}}",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WAHA Trigger').item.json.session }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [560, 288],
      "id": "memory",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "maxOutputTokens": 2048,
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [384, 288],
      "id": "gemini-model",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "{{gemini_credential_id}}",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "documentId": "={{ $json.googleDrive.files[0].file_id }}",
        "sheetName": "Sheet1",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [1072, 320],
      "id": "google-sheets-tool",
      "name": "Google Sheets Tool",
      "credentials": {
        "googleApi": {
          "id": "{{google_drive_credential_id}}",
          "name": "Google Drive OAuth account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Access Google Drive files and sheets data",
        "method": "GET",
        "url": "https://www.googleapis.com/drive/v3/files/{{ $json.googleDrive.files[0].file_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $json.googleDrive.credentials.access_token }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [1232, 320],
      "id": "google-drive-tool",
      "name": "Google Drive Tool"
    },
    {
      "parameters": {
        "toolDescription": "Read Google Sheets data",
        "method": "GET",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/{{ $json.googleDrive.files[0].file_id }}/values/Sheet1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $json.googleDrive.credentials.access_token }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [1392, 320],
      "id": "sheets-reader-tool",
      "name": "Sheets Reader Tool"
    },
    {
      "parameters": {
        "toolDescription": "Search in Google Docs",
        "method": "GET",
        "url": "https://docs.googleapis.com/v1/documents/{{ $json.googleDrive.files[0].file_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $json.googleDrive.credentials.access_token }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [1552, 320],
      "id": "docs-reader-tool",
      "name": "Docs Reader Tool"
    }
  ],
  "connections": {
    "WAHA Trigger": {
      "main": [
        [],
        [
          {
            "node": "Start Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Typing": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Stop Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Typing": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Sheets Reader Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Docs Reader Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "{{instance_id}}"
  },
  "staticData": {
    "googleDrive": {
      "files": [],
      "organization_id": "",
      "personality_id": "",
      "credentials": {
        "access_token": "",
        "refresh_token": "",
        "expires_at": "",
        "scope": "",
        "credential_id": ""
      }
    }
  }
}
