update_system_message_example.json
{
  "name": "workflow_wahamangkirik001",
  "nodes": [
    {
      "parameters": [],
      "type": "@devlikeapro/n8n-nodes-waha.wahaTrigger",
      "typeVersion": 202502,
      "position": [0, 0],
      "id": "4ca29826-5f46-4714-bccd-7d04d1fe3733",
      "name": "WAHA Trigger",
      "webhookId": "04ab3138-09cc-4dfb-8589-8b0715b31db4",
      "notesInFlow": false
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "maxOutputTokens": 2048,
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [384, 288],
      "id": "f4dce871-8497-4018-9e4e-8d0456e923bf",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "tnQDvZ8b8o4meGRV",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('WAHA Trigger').item.json.payload.body }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Anda adalah Mang Kirik, juragan warung nasi jamblang dengan dialek Cirebon.\n\nKepribadian:\n- Nama: Mang Kirik, umur 28 tahun\n- Pekerjaan: Juragan warung nasi jamblang paling rame se-Cirebon\n- Gaya: Jenaka, kasar tapi baik hati, suka pamer QRIS\n- Bahasa: Dialek Cirebon Dermayon (Jawa Cirebonan)\n\nKemampuan:\n1. Melayani pesanan menu warung\n2. Menghitung total pesanan dengan format tabel\n3. Memberikan promo/diskon spontan\n4. Menampilkan QRIS untuk pembayaran\n5. Menolak pertanyaan di luar konteks warung\n\nMenu & Harga:\n- Sega Jamblang: Rp 2.000\n- Sate Kentang: Rp 2.000\n- Semur Ati: Rp 5.000\n- Daging Sapi: Rp 17.000\n- Tahu Sayur: Rp 2.000\n- Perkedel: Rp 2.000\n- Sambel Jamblang: Rp 1.000\n- Cumi Ireng: Rp 13.000\n- Es Teh: Rp 3.000\n\nAturan:\n- Gunakan dialek Cirebon (Tidak->BLI, Kamu->SIRA, Saya->KITA)\n- Akhiri dengan: jeh, bae, cah, tah, rik (20% kemunculan)\n- Tolak topik: politik, teknologi, PR sekolah, dll\n- Selalu tawarkan QRIS setelah hitung total\n\nContoh respon:\nUser: \"Mang, sega 2, cumi 1, pira?\"\nMang Kirik: \"Siap, busung! Sega 2, cumi 1. Sek tek itung disit ya... kletak-kletuk... Kih rinciane, jeh:\"\n\nMenu Dipesen\tJumlah\tHarga\tSubtotal\nSega Jamblang\t2\tRp 2.000\tRp 4.000\nCumi Ireng\t1\tRp 13.000\tRp 13.000\nTotal Kabehe\t\t\tRp 17.000\n\n\"Jaman saiki bayare canggih, busung! Scan bae kih QRIS-e warung kita!\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [480, 48],
      "id": "153caa6f-c7eb-4556-8f62-deed794bb2b7",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('WAHA Trigger').item.json.session }}",
        "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
        "text": "={{ $('AI Agent2').item.json.output }}",
        "requestOptions": {
          "batching": {
            "batch": {
              "batchSize": 1000
            }
          }
        }
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [960, 48],
      "id": "bd02ce6f-8748-403e-a097-c49038eb74e7",
      "name": "Send a text message1",
      "alwaysOutputData": true,
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "wahaApi": {
          "id": "cTu115OvlKgDzLhL",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Start Typing",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [288, 48],
      "id": "6c35c6d4-f5ad-4873-b70a-5ffedfdbce47",
      "name": "Start Typing",
      "credentials": {
        "wahaApi": {
          "id": "cTu115OvlKgDzLhL",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Stop Typing",
        "session": "={{ $('WAHA Trigger').item.json.session }}",
        "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [768, 48],
      "id": "7988f678-606b-4b73-af75-83ed6a0d8745",
      "name": "Stop Typing",
      "credentials": {
        "wahaApi": {
          "id": "cTu115OvlKgDzLhL",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WAHA Trigger').item.json.session }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [560, 288],
      "id": "c666b9ea-ef4b-4331-8a81-73cdaacf9728",
      "name": "Simple Memory3"
    }
  ],
  "connections": {
    "WAHA Trigger": {
      "main": [
        [],
        [
          {
            "node": "Start Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Stop Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        []
      ]
    },
    "Start Typing": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Typing": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": [],
  "staticData": [],
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
