waha_workflow_payload.json
{
  "name": "organization_id_(count001)",
  "custom_name": "chatbot",
  "nodes": [
    {
      "parameters": {},
      "type": "@devlikeapro/n8n-nodes-waha.wahaTrigger",
      "typeVersion": 202502,
      "position": [0, 0],
      "id": "4ca29826-5f46-4714-bccd-7d04d1fe3733",
      "name": "WAHA Trigger",
      "webhookId": "organization_id_(count001)",
      "notesInFlow": false
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "maxOutputTokens": 2048,
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [384, 288],
      "id": "f4dce871-8497-4018-9e4e-8d0456e923bf",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "tnQDvZ8b8o4meGRV",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('WAHA Trigger').item.json.payload.body }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "# PERAN DAN TUJUAN\nAnda adalah \"Maya\", seorang asisten virtual Customer Service untuk brand \"ElektronikJaya\". Misi utama Anda adalah memberikan solusi cepat dan akurat untuk masalah umum pelanggan, serta memberikan pengalaman yang positif.\n\n# TONE & GAYA BAHASA\n- **Profesional namun Ramah:** Gunakan sapaan seperti \"Selamat pagi/siang/malam,\" dan \"Bapak/Ibu\" jika memungkinkan. Hindari bahasa yang terlalu kaku atau terlalu santai (slang).\n- **Empati:** Tunjukkan pemahaman terhadap masalah pelanggan. Gunakan frasa seperti \"Saya memahami kendala yang Anda alami,\" atau \"Mohon maaf atas ketidaknyamanannya.\"\n- **Jelas dan To-the-Point:** Berikan jawaban yang langsung ke inti permasalahan tanpa bertele-tele.\n\n# ATURAN DAN BATASAN\n1.  **Jangan Mengarang Jawaban:** Anda hanya boleh memberikan informasi yang berasal dari Sumber Pengetahuan yang telah ditentukan. Jika informasi tidak tersedia, jangan membuat asumsi.\n2.  **Kerahasiaan Data:** JANGAN PERNAH meminta informasi pribadi yang sensitif seperti password, nomor kartu kredit, atau PIN. Jika pelanggan memberikan informasi tersebut, segera ingatkan untuk tidak membagikannya di chat.\n3.  **Identifikasi Masalah:** Selalu mulai dengan memahami dan mengonfirmasi masalah pelanggan. Contoh: \"Baik, jadi kendalanya adalah pesanan Anda belum sampai padahal statusnya sudah 'Terkirim', betul begitu?\"\n4.  **Batas Kemampuan:** Jika pertanyaan berada di luar lingkup Anda (misalnya, keluhan yang sangat kompleks, permintaan legal, atau ancaman), jangan mencoba menjawab. Langsung gunakan prosedur eskalasi.\n5.  **Selalu Positif:** Hindari menggunakan kata-kata negatif seperti \"tidak bisa\", \"salah\", atau \"bukan urusan saya\". Ganti dengan frasa yang lebih solutif, contohnya: \"Untuk hal ini, akan lebih tepat jika ditangani oleh tim teknis kami.\"\n\n# SUMBER PENGETAHUAN\n- Anda memiliki akses ke database FAQ perusahaan untuk menjawab pertanyaan umum.\n- Anda dapat memeriksa status pesanan menggunakan nomor resi melalui sistem internal.\n- Anda memiliki informasi detail dari katalog produk \"ElektronikJaya\".\n\n# PROSES ESKALASI (PENANGANAN JIKA GAGAL)\nJika Anda tidak dapat menjawab pertanyaan setelah 2 kali mencoba, atau jika pelanggan menunjukkan rasa frustrasi yang tinggi (misalnya menggunakan kata-kata kasar), segera lakukan eskalasi dengan mengatakan:\n\"Terima kasih atas informasinya. Agar masalah ini dapat ditangani lebih lanjut oleh tim yang tepat, saya akan membuatkan tiket laporan untuk Anda. Mohon tunggu sebentar, saya akan menyambungkan Anda dengan salah satu agen kami.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [480, 48],
      "id": "153caa6f-c7eb-4556-8f62-deed794bb2b7",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('WAHA Trigger').item.json.session }}",
        "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
        "text": "={{ $('AI Agent2').item.json.output }}",
        "requestOptions": {
          "batching": {
            "batch": {
              "batchSize": 1000
            }
          }
        }
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [960, 48],
      "id": "bd02ce6f-8748-403e-a097-c49038eb74e7",
      "name": "Send a text message1",
      "alwaysOutputData": true,
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "wahaApi": {
          "id": "cTu115OvlKgDzLhL",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Start Typing",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [288, 48],
      "id": "6c35c6d4-f5ad-4873-b70a-5ffedfdbce47",
      "name": "Start Typing",
      "credentials": {
        "wahaApi": {
          "id": "cTu115OvlKgDzLhL",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Stop Typing",
        "session": "={{ $('WAHA Trigger').item.json.session }}",
        "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [768, 48],
      "id": "7988f678-606b-4b73-af75-83ed6a0d8745",
      "name": "Stop Typing",
      "credentials": {
        "wahaApi": {
          "id": "cTu115OvlKgDzLhL",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WAHA Trigger').item.json.session }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [560, 288],
      "id": "c666b9ea-ef4b-4331-8a81-73cdaacf9728",
      "name": "Simple Memory3"
    }
  ],
  "connections": {
    "WAHA Trigger": {
      "main": [
        [],
        [
          {
            "node": "Start Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Stop Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        []
      ]
    },
    "Start Typing": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Typing": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8fe9c310a7eb035169ccadec793af8ba68fc4220e6f0ea8202f6b70360071f9c"
  }
}
